<%- title "Participant Survey Responses to #{@question.label} Question" %>

<h1><%= @responses.count %> Participant Survey Responses to "<%= @question.label %>".</h1>
<p>
  These are the responses provided by participants to the "<%= @question.label %>" question. Blank responses are not listed here.
</p>

<h2>Reference:</h3>
  <ul class="word-cloud">
    <li><%= link_to "Codes for #{@question.label}", codebook_path(@question.key), class: "jump-link" %></li>
  </ul>

<table>
  <thead>
    <tr>
      <th>Survey Response</th>
      <th>Answer</th>
      <th><%= link_to "Codes", codebook_path(@question.key), class: "jump-link-light" %></th>
    </tr>
  </thead>
  <tbody>
    <% counter = 0 %>
    <% @responses.each do |response| %>
      <% alt = counter % 2 == 1 ? "" : "alt" %>
      <% counter += 1 %>
      <tr class="<%= alt %> data-row" data-tags="<%= response.read_attribute(@question.codes_field) %>">
        <td class="label">
          <%= link_to response.id, response, class: "jump-link" %>
        </td>
        <td class="response">
          <% @response_value = response.read_attribute(@question.key) %>
          <% if @response_value.respond_to?(:join) %>
            <% @response_value = @response_value.sort.join(", ") %>
          <% end %>
          <%= @response_value %>
        </td>
        <td class="form-entry">
          <%= render "/survey_responses/form", response: response, question: @question, success: nil %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<script language="javascript">

  function filterBy(dataAttribute) {
    const dataRows = Array.from(document.getElementsByClassName('data-row'));
    const tagElements = Array.from(document.getElementsByClassName('tag'));
    const beaconTagElement = tagElements[0];

    dataRows.forEach(element => {
      element.classList.remove('hidden');
    });

    if (Array.from(beaconTagElement.classList).includes('active')) {
      // reset tags and remove filters from data rows
      tagElements.forEach(element => {
        element.classList.remove('active');
      });
      dataRows.forEach(element => {
        element.classList.remove('hidden');
      });
    } else {
      // activate tags and apply filters to data rows
      tagElements.forEach(element => {
        element.classList.remove('active');
        if (element.getAttribute('data-code') == dataAttribute) {
          element.classList.add('active');
        }
      });
      dataRows.forEach(element => {
        let tags = JSON.parse(element.getAttribute('data-tags'));
        if (tags.includes(dataAttribute)) {
          element.classList.remove('hidden');
        } else {
          element.classList.add('hidden');
        }
      });
    }



  }

</script>
