<%- title "Participant Survey Responses to #{@question.label} Question" %>

<h1><%= @responses.count %> Participant Survey Responses to "<%= @question.label %>".</h1>
<p>These are the responses provided by participants to the "<%= @question.label %>" question. Blank responses are not listed here. Click on a code to show all survey participant responses related to that code. You may select multiple codes to further filter the responses.</p>

<p>For a complete list of codes for this question, refer to the <%= link_to "codebook.", codebook_path(@question.id), class: "jump-link" %></p>

<table>
  <thead>
    <tr>
      <th>Participant Survey Response</th>
      <th>Answer</th>
      <th><%= link_to "Codes", codebook_path(@question.key), class: "jump-link-light" %></th>
    </tr>
  </thead>
  <tbody>
    <% counter = 0 %>
    <% @responses.each do |response| %>
      <% alt = counter % 2 == 1 ? "" : "alt" %>
      <% counter += 1 %>
      <tr class="<%= alt %> data-row" data-codes="<%= response.codes.map(&:id) %>">
        <td class="label">
          <%= link_to response.survey_response_id, survey_response_path(response.survey_response_id), class: "jump-link" %>
        </td>
        <td class="response">
          <%= response.value %>
        </td>
        <td class="form-entry">
          <%= render "/responses/form", response: response, success: nil, filters: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script language="javascript">

  function filterBy(codeID) {

    const dataRows = Array.from(document.getElementsByClassName('data-row'));
    const codeElements = Array.from(document.getElementsByClassName('codes'));

    codeElements.forEach(element => {
      if (element.getAttribute('data-code') == codeID) {
        if (Array.from(element.classList).includes('active')) {
          // If a code is already marked active, and is clicked on again, clear it.
          element.classList.remove('active');
        } else {
          element.classList.add('active');
        }
      }
    });

    var activeCodes = Array.from(document.querySelectorAll(".codes.active"));

    if (activeCodes.length == 0) {
      dataRows.forEach(rowElement => {
        rowElement.classList.remove('hidden');
      });
    } else {
      dataRows.forEach(rowElement => {
        rowElement.classList.add('hidden');
      });
    }

    activeCodes.forEach(codeElement => {
      let codeId = codeElement.getAttribute('data-code');
      dataRows.forEach(rowElement => {
        let codes = JSON.parse(rowElement.getAttribute('data-codes'));
        if (codes.includes(codeId)) {
          rowElement.classList.remove('hidden');
        }
      });
    });

  }

</script>
