<%- title "New Theme" %>

<h1>Add a Theme</h1>
<ul class="breadcrumbs">
  <li><a href="/">Home</a> /</li>
  <li><%= link_to "Themes", themes_path %> /</li>
  <li>New</li>
</ul>

<%= form_with model: @theme do |f| %>
  <fieldset>
  <%= label :name, "Name" %>
  <%= f.text_field :name %>
  </fieldset>
  <fieldset>
  <%= label :description, "Description" %>
  <%= f.text_area :description  %>
  </fieldset>
  <fieldset>
  <%= label :notes, "Notes" %>
  <%= f.text_area :notes  %>
  </fieldset>
  <%= f.submit "Create" %>
<% end %>
