<%- title "Themes" %>

<h1><%= @theme.name %></h1>

<%= form_for @theme do |f| %>
  <fieldset>
    <%= label :name, "Name" %>
    <%= f.text_field :name %>
  </fieldset>
  <fieldset>
    <%= label :description, "Description" %>
    <%= f.text_area :description %>
  </fieldset>
  <fieldset>
    <%= label :notes, "Notes" %>
    <%= f.text_area :notes %>
  </fieldset>
  <%= f.submit "Save" %>
<% end %>

<%= render partial: "form", locals: { theme: @theme } %>

<% @contexts.each do |context| %>
  <h2><%= context[1] %> Categories</h2>
  <p>Associated categories are highlighted in black. Click to add or remove a category from this theme. Changes are saved automatically.</p>
  <% contextual_categories = @categories.select{ |c| c.context == context[0] } %>
  <div class="tag-collection">
    <% contextual_categories.sort_by(&:name).each do |category| %>
      <% is_selected = @theme.categories.include? category %>
      <a onclick="filterBy('<%= category.id %>'); updateAssociatedCategories(); return false">
        <div class="tag category <%= is_selected ? 'active' : '' %>" id="category-<%= category.id %>" data-category="<%= category.id %>">
          <%= category.name %>
        </div>
      </a>
    <% end %>
  </div>
<% end %>

<%= render partial: "/shared/filtering" %>

<script language="javascript">

  function toggleThemeForm(themeID) {
    const themeElement = document.getElementById('theme-' + themeID);
    const newThemeFormElement = document.getElementById('new-theme-form');
    const themeForm = document.getElementById('form-theme-' + themeID);

    if (Array.from(themeElement.classList).includes('active')) {
      newThemeFormElement.classList.add('hidden');
      themeForm.classList.remove('hidden');
    } else {
      newThemeFormElement.classList.remove('hidden');
      themeForm.classList.add('hidden');
    }
  }

  function updateAssociatedCategories() {
    const activeTheme = document.querySelectorAll(".theme.active")[0];
    const activeThemeID = activeTheme.getAttribute('data-theme');
    if (activeTheme != null) {
      const activeCategories = Array.from(document.querySelectorAll(".category.active"));
      categoryIDs = activeCategories.map((element) => element.getAttribute('data-category'));
      document.getElementById("field-categories-" + activeThemeID).value = categoryIDs;
      activeTheme.dataset.categories = JSON.stringify(categoryIDs);
      submitButton = document.getElementById("button-theme-" + activeTheme.getAttribute('data-theme'));
      submitButton.click();
    }
  }

</script>
