<%- title "#{@section_name} Themes" %>

<h1><%= pluralize(@themes.count, "Theme") %> for "<%= @context %>".</h1>

<% if @previous_section %>
  <%= link_to "<", codebook_path(@previous_section), class: "flip", id: "flip-left" %>
<% end %>
<% if @next_section %>
  <%= link_to ">", codebook_path(@next_section), class: "flip", id: "flip-right" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Themes</th>
      <th>Categories</th>
      <th>Codes</th>
    </tr>
  </thead>
  <tbody>
    <tr class="alt">
      <td class="response">
        <div class="tag">Theme One</div>
        <div class="tag active">Theme Two</div>
        <div class="tag">Theme Three</div>
        <div>
          <input type="text" style="border: 1px solid #aaa; width: 80%" />
          <button>Add theme</button>
        </div>
      </td>
      <td class="response">
        <% @categories.each do |category| %>
          <a onclick="filterBy('<%= category.id %>'); return false">
            <div class="tag category zoom-link-light" id="category-<%= category.id %>" data-category="<%= category.id %>">
              <%= category.name %>
            </div>
          </a>
        <% end %>
      </td>
      <td class="response">
        <% @codes.each do |code| %>
          <div class="tag codes hidden" data-categories="<%= code.categories.map(&:id) %>"><%= code.name %></div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<script language="javascript">

  function filterBy(dataAttribute) {
    const tagElement = document.getElementById('category-' + dataAttribute)

    if (Array.from(tagElement.classList).includes('active')) {
      tagElement.classList.remove('active');
    } else {
      tagElement.classList.add('active');
    };

    hideAllCodes();

    const categoryElements = Array.from(document.getElementsByClassName('category'));

    categoryElements.forEach(element => {
      if (Array.from(element.classList).includes('active')) {
        categoryID = element.getAttribute('data-category');
        unhideByCategory(categoryID);
      };
    });
  }

  function unhideByCategory(categoryID) {
    const codeElements = Array.from(document.getElementsByClassName('codes'));
    codeElements.forEach(element => {
      let categories = JSON.parse(element.getAttribute('data-categories'))
      if (categories.includes(categoryID)) {
        element.classList.remove('hidden');
      }
    });
  }

  function hideAllCodes() {
    const codeElements = Array.from(document.getElementsByClassName('codes'));
    codeElements.forEach(element => {
      element.classList.add('hidden');
    });
  }

</script>
