<h1>Codes for "<%= @section_name %>".</h1>

<% if @previous_section %>
	<%= link_to "<", codebook_path(@previous_section), class: "flip", id: "flip-left" %>
<% end %>
<% if @next_section %>
	<%= link_to ">", codebook_path(@next_section), class: "flip", id: "flip-right" %>
<% end %>

<h2>Derived categories:</h2>

<ul class="word-cloud">
	<% @categories_histogram.keys.sort{|a,b| @categories_histogram[a] <=> @categories_histogram[b]}.reverse.each do |category| %>
		<% font_size = ((@categories_histogram[category] / @total_codes.to_f) * 100).to_i + 5 %>
		<% percentage = ((@categories_histogram[category]  / @total_codes.to_f) * 100).to_i %>
		<li style="font-size: <%= font_size %>px;"><%= category %> (<%= percentage < 1 ? "<1" : percentage %>%)</li>
	<% end %>
</ul>

<div class="two-column">
	<div class="column">
		<h3>Alphabetically</h3>
		<ul class="list">
			<% @frequencies.sort{|f1, f2| f1[0] <=> f2[0]}.each do |k,v| %>
				<li>
					<%= "#{k}: #{v}" %>
					<div class="stacked-bar" style="width: <%= (v / @frequencies.values.max.to_f) * 100 %>%"></div>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="column">
		<h3>By Frequency</h3>
		<ul class="column list">
			<% max =  %>
			<% @frequencies.sort{|f1, f2| f1[1] <=> f2[1]}.reverse.each do |k,v| %>
				<li>
					<%= "#{k}: #{v}" %>
					<div class="stacked-bar" style="width: <%= (v / @frequencies.values.max.to_f) * 100 %>%"></div>
				</li>
				<% end %>
		</ul>
	</div>
</div>
