<%- title "Cases" %>

<h1>
  Explore <%= pluralize @cases.size, "Case" %>.
</h1>

<% if @cases.any? %>
  <p>Add more cases by <%= link_to "uploading a data file", new_case_path %>.</p>
<% else %>
  <p>To get started, <%= link_to "upload your data file", new_case_path %>.</p>
<% end %>

<ol class="nodes">
  <% @cases.each do |kase| %>
    <li>
      <%= link_to case_path(kase.id) do %>
        <div>
          <%= kase.identifier %>
        </div>
      <% end %>
    </li>
  <% end %>
</ol>
