<%- title "Cases" %>

<h1>
  <%= pluralize @cases.size, "Case" %>.
</h1>

<% if @cases.any? %>
  <p>You can also <%= link_to "upload more cases", new_case_path %>.</p>
<% else %>
  <p>To get started, <%= link_to "upload your cases", new_case_path %>.</p>
<% end %>

<ol class="nodes">
  <% @cases.each do |kase| %>
    <li>
      <%= link_to case_path(kase.id) do %>
        <div>
          <%= kase.identifier %>
        </div>
      <% end %>
    </li>
  <% end %>
</ol>
