<%- title "Case #{@kase.identifier}" %>

<h1>Case <%= @kase.identifier %>.</h1>

<% if @previous_case %>
  <%= link_to "<", case_path(@previous_case), class: "flip", id: "flip-left" %>
<% end %>
<% if @next_case %>
  <%= link_to ">", case_path(@next_case), class: "flip", id: "flip-right" %>
<% end %>

<h2>Associated derived categories of experiences:</h2>

<% if @categories.any? %>
  <div class="tag-collection">
    <% @categories.each do |category| %>
      <div class="tag"><%= category.name %> (<%= category.context %>) </div>
    <% end %>
  </div>
<% else %>
  <p>No derived categories are associated with this case.</p>
<% end %>

<h2>Interactive persona:</h2>
<div class="confirmable">
  <p class="code">
    // <%= @kase.graph_query[:explainer] %><br />
    <a id="copy-to-clipboard" onclick="copyToClipboard('copy-to-clipboard')"><%= @kase.graph_query[:query] %></a>
  </p>
  <div id="confirmation" class="hidden"></div>
</div>

<h2>Questions and responses:</h2>
<table>
  <thead>
    <tr>
      <th>Survey Question</th>
      <th>Response</th>
      <th>Codes</th>
    </tr>
  </thead>
  <tbody>
    <% counter = 0 %>
    <% @responses.each do |response| %>
      <% alt = counter % 2 == 1 ? "" : "alt" %>
      <% counter += 1 %>
      <% question = response.question %>
      <tr class="<%= alt %>">
        <td class="label"><%= link_to question.label, question_path(question), class: "zoom-link" %></td>
        <td  class="response"><%= response.value || "(Not answered)" %></td>
        <td class="form-entry">
          <%= render "/responses/form", response: response, success: nil, filters: false %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @kase.sentiment.present? %>
  <h2>Sentiment analysis:</h2>
  <p>
    The overall sentiment of the identity reflection response is <span class="sentiment sentiment-<%= @kase.sentiment %>"><%= @kase.sentiment %></span>.
  </p>
<% end %>

<% if @keywords.any? %>
  <h2>Generated keywords from identity reflection:</h2>
  <ul class="word-cloud">
    <% @keywords.each do |keyword| %>
      <li><%= keyword.name %></li>
    <% end %>
  </ul>
<% end %>

<h2>Researcher Notes</h2>
<br style="clear: both;" />
<%= render "/annotations/form", kase: @kase, annotation: @annotation, success: nil %>
