<%- title "#{@context.display_name} Categories" %>

<h1>"<%= @context.display_name %>" Categories.</h1>

<% if @previous_context_id %>
  <%= link_to "<", context_path(id: @previous_context_id), class: "flip", id: "flip-left" %>
<% end %>
<% if @next_context_id %>
  <%= link_to ">", context_path(id: @next_context_id), class: "flip", id: "flip-right" %>
<% end %>

<% if @isEditMode %>
  <p>When you're done, you can <%= link_to "go back to categories and codes", context_path(id: @context.id) %> or <%= link_to "move on to themes", themes_path %>.</p>

  <h2>Select a Category to Edit:</h2>
  <div class="tag-collection">
    <% @categories.each do |category| %>
      <%= link_to context_category_path(context_id: @context.id, id: category.id) do %>
        <div class="tag edit-link-light category"><%= category.name %></div>
      <% end %>
    <% end %>
    <%= link_to new_context_category_path(context_id: @context.id) do %>
      <div class="tag-button">New Category</div>
    <% end %>
  </div>
<% else %>
  <p>You can <%= link_to "explore more categories", contexts_path %> or <%= link_to "move on to themes", themes_path %>.</p>

  <h2>Select Categories to Compare:</h2>
  <div class="tag-collection">
    <div class="tag zoom-link-light category" onclick="filterBy('uncategorized');" id="category-uncategorized" data-category="uncategorized">Uncategorized Codes</div>
    <% @categories.each do |category| %>
      <div class="tag zoom-link-light category" onclick="filterBy('<%= category.id %>');" id="category-<%= category.id %>" data-category="<%= category.id %>"><%= category.name %></div>
    <% end %>
    <%= link_to context_path(context_id: @context.id, is_edit_mode: "true") do %>
      <div class="tag-button">Edit Categories</div>
    <% end %>
  </div>
<% end %>

<% if @isEditMode %>
  <h2>Suggested Categories:</h2>
  <%= render partial: "suggestions", locals: { context: @context, enqueued: nil } %>
<% else %>
  <h2>Associated Codes:</h2>
  <p>Codes belonging to the selected categories are displayed below.</p>
  <div class="tag-collection">
    <% @codes.each do |code| %>
      <% categories = code.categories.map(&:id) %>
      <div class="tag codes" id="<%= code.id %>" data-code="<%= code.id %>" data-categories="<%= categories.any? ? categories : ["uncategorized"] %>">
        <%= code.name %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render partial: "/shared/filtering" %>
