<%- title "Search TMI-WEB" %>

<h1>Find it in TMI-Web.</h1>
<ul class="breadcrumbs">
  <li><a href="/">Home</a> /</li>
  <li>Search</li>
</ul>

<%= form_with model: @search, id: "form-search", class: "form-search", data: { turbo: false } do |f| %>
	<fieldset>
		<%= label :query, "Find responses containing:" %>
		<%= f.text_field :query %>
	</fieldset>
	<%= f.submit "Search", id: "button-theme" %>
<% end %>

<h2><%= pluralize @search.responses.size, "Result" %> for "<%= @search.query %>"</h3>

<% @search.responses.each do |response| %>
  <article>
    <h2><%= link_to "Case ##{response.case.identifier}", response.case %></h2>
    <blockquote>
      <p>"<%= response.value %>"</p>
    </blockquote>
    <p>
      <em>Survey Question:</em> <%= link_to response.question.label, response.question %><br />
      <em>Dimension:</em> <%= response.question.dimension.display_name %><br />
      <% if response.raw_codes.any? %><em>Codes:</em><% end %>
    </p>
    <div class="tag-collection">
      <% response.raw_codes.each do |code| %>
        <div class="tag"><%= code %></div>
      <% end %>
    </div>
  </article>
<% end %>

