<td class="label"><%= link_to question.label, question_path(question.key), class: "jump-link" %></td>
<td  class="response"><%= response.read_attribute(question.key) || "(Not answered)" %></td>
<td class="form-entry">
	<%= form_with model: response, remote: true do |f| %>
		<% if response.respond_to?(question.key) && response.read_attribute(question.key).present? || response.read_attribute(question.codes_field).any? %>
			<%= f.text_area question.codes_field, value: response.read_attribute(question.codes_field).try(:sort).try(:join, ', '), multiple: true %>
			<%= f.submit "Save", class: "small", data: { turbo_frame: "coding_frame" } %>
		<% end %>
	<% end %>
</td>
