<h1>
	<%= pluralize @responses.size, "survey response" %><% if @theme %>related to "<%= @theme %>"<% end %>.
</h1>

<% if @theme %>
	<p>
		Or, view <%= link_to "all survey responses", survey_responses_path %>.
	</p>
<% end %>

<ol class="responses">
<% @responses.each do |r| %>
	<li>
		<% if @theme %>
			<%= link_to r.identifier, survey_response_path(r, q: @theme) %>
		<% else %>
			<%= link_to r.identifier, r %>
		<% end %>
	</li>
<% end %>
</ol>

<% if @theme %>
	<p>
		Or, view <%= link_to "all survey responses", survey_responses_path %>.
	</p>
<% end %>
