<h2><%= @responses.count %> Responses to "<%= @question_readable %>"</h2>

<table>
	<thead>
		<tr>
			<th>Response</th>
			<th>Answer</th>
			<th>Tags</th>
		</tr>
	</thead>
	<tbody>
		<% @responses.each do |response| %>
			<tr>
				<td class="label">
					<%= link_to response.id, response, class: "jump-link" %>
				</td>
				<td>
					<% @response_value = response.read_attribute(@question_label) %>
					<% if @response_value.respond_to?(:join) %>
						<% @response_value = @response_value.sort.join(", ") %>
					<% end %>
					<%= @response_value %>
				</td>
				<td class="form-entry">
					<% if @question_label.to_s.include?("exp") %>
						<%= form_with model: response do |f| %>
							<% fieldname = @question_label.to_s %>
							<% fieldname = "#{fieldname.to_s.split("_")[0..-2].join('_')}_exp_tags".to_sym %>
							<%= f.text_area fieldname, value: response.read_attribute(fieldname).try(:sort).try(:join, ", "), multiple: true %>
							<%= f.submit "Save", class: "small" %>
						<% end %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
