<h2>Response <%= @response.id %></h2>
<% if previous_response = @response.previous_response %>
	<%= link_to "Previous", previous_response %>
<% else %> 
	Previous
<% end %>
 | 
<% if next_response = @response.next_response %>
	<%= link_to "Next", next_response %>
<% else %>
	Previous
<% end %>

<table>
	<thead>
		<tr>
			<th>Question</th>
			<th>Answer</th>
		</tr>
	</thead>
	<tbody>
		<% SurveyResponse::QUESTION_MAPPING.each do |field,label| %>
			<tr>
				<td class="label"><a href="/question?q=<%= field %>"><%= label %></a></td>
				<td><%= @response.read_attribute(field) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<% if previous_response = @response.previous_response %>
	<%= link_to "Previous", previous_response %>
<% else %> 
	Previous
<% end %>
 | 
<% if next_response = @response.next_response %>
	<%= link_to "Next", next_response %>
<% else %>
	Previous
<% end %>

