<h2>Response <%= @response.id %></h2>
<% if previous_response = @response.previous_response %>
	<div class="flip" id="flip-left">
		<%= link_to "<", previous_response %>
	</div>
<% end %>
<% if next_response = @response.next_response %>
	<div class="flip" id="flip-right">
		<%= link_to ">", next_response %>
	</div>
<% end %>

<table>
	<thead>
		<tr>
			<th>Question</th>
			<th>Answer</th>
		</tr>
	</thead>
	<tbody>
		<% SurveyResponse::QUESTION_MAPPING.each do |field,label| %>
			<tr>
				<td class="label"><a href="/question?q=<%= field %>"><%= label %></a></td>
				<td><%= @response.read_attribute(field) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
