<%- title "Participant Survey Response #{@response.identifier}" %>

<h1>Participant Survey Response <%= @response.identifier %></h1>

<% if @previous_response %>
  <%= link_to "<", survey_response_path(@previous_response), class: "flip", id: "flip-left" %>
<% end %>
<% if @next_response %>
  <%= link_to ">", survey_response_path(@next_response), class: "flip", id: "flip-right" %>
<% end %>

<h2>Derived categories of experiences:</h2>

<% if @categories.any? %>
  <ul class="word-cloud">
    <% @categories.each do |category| %>
      <li><%= category.name %> | <%= link_to category.context, codebook_path("#{category.context.gsub("-","_")}_exp".gsub("pronouns_feel_exp", "pronouns_feel")), class:"jump-link" %></li>
    <% end %>
  </ul>
<% else %>
  <p>No derived categories could be found. Have you generated them from the <%= link_to "codebook", codebooks_path %>?</p>
<% end %>

<h2>Interactive persona:</h2>
<p><%= @response.graph_query[:explainer] %></p>
<p class="code">
  <a href="#query" id="copy-to-clipboard" onclick="copyToClipboard('copy-to-clipboard')"><%= @response.graph_query[:query] %></a>
</p>

<h2>Questions and responses:</h2>
<table>
  <thead>
    <tr>
      <th>Survey Question</th>
      <th>Response</th>
      <th>Codes</th>
    </tr>
  </thead>
  <tbody>
    <% counter = 0 %>
    <% Question::QUESTIONS.keys.map{|k| Question.from(k) }.each do |question| %>
      <% alt = counter % 2 == 1 ? "" : "alt" %>
      <% counter += 1 %>
      <tr class="<%= alt %>">
        <td class="label"><%= link_to question.label, question_path(question.key), class: "jump-link" %></td>
        <td  class="response"><%= @response.read_attribute(question.key) || "(Not answered)" %></td>
        <td class="form-entry">
          <% if @response.respond_to?(question.key) && @response.read_attribute(question.key).present? || @response.read_attribute(question.codes_field).any? %>
            <%= render "form", response: @response, question: question, success: nil %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @response.sentiment.present? %>
  <h2>Sentiment analysis:</h2>
  <p>
    The overall sentiment of the identity reflection response is <span class="sentiment sentiment-<%= @response.sentiment %>"><%= @response.sentiment %></span>.
  </p>
<% end %>

<% if @keywords.any? %>
  <h2>Generated keywords from identity reflection:</h2>
  <ul class="word-cloud">
    <% @keywords.each do |keyword| %>
      <li><%= keyword.name %></li>
    <% end %>
  </ul>
<% end %>
