<h2>Response <%= @response.id %></h2>
<% if previous_response = @response.previous_response %>
	<div class="flip" id="flip-left">
		<%= link_to "<", previous_response %>
	</div>
<% end %>
<% if next_response = @response.next_response %>
	<div class="flip" id="flip-right">
		<%= link_to ">", next_response %>
	</div>
<% end %>

<%= form_with model: @response do |f| %>
	<table>
		<thead>
			<tr>
				<th>Question</th>
				<th>Answer</th>
				<th>Tags</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="label"><a href="/question?q=tags">Tags</a></td>
				<td><%= @response.tags.sort.join(", ") %></td>
				<td class="form-entry"></td>
			</tr>		
			<% SurveyResponse::QUESTION_MAPPING.each do |field,label| %>
				<tr>
					<td class="label"><a href="/question?q=<%= field %>"><%= label %></a></td>
					<td><%= @response.read_attribute(field) %></td>
					<td class="form-entry">
						<% fieldname = field.to_s.split("_").first %>
						<% if field.to_s.include?("cope") %>
							<% fieldname = "#{fieldname}_coping_tags".to_sym %>
						<% end %>
						<% if @response.respond_to?(fieldname) && @response.read_attribute(field).present?  %>
							<%= f.text_area fieldname, value: @response.read_attribute(fieldname).join(', '), multiple: true %>
							<%= f.submit "Save", class: "small" %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= f.submit "Save" %>
<% end %>
