<h1>Response <%= @response.identifier %>.</h1>

<% if @previous_response %>
	<%= link_to "<", survey_response_path(@previous_response, q: @theme), class: "flip", id: "flip-left" %>
<% end %>
<% if @next_response %>
	<%= link_to ">", survey_response_path(@next_response, q: @theme), class: "flip", id: "flip-right" %>
<% end %>

<h2>Derived themes:</h2>

<ul class="word-cloud">
	<% @themes_histogram.keys.sort{|a,b| @themes_histogram[a] <=> @themes_histogram[b]}.reverse.each do |theme| %>
		<% font_size = ((@themes_histogram[theme] / @total_responses.to_f) * 60).to_i + 5 %>
		<% active = theme == @theme ? "active" : "" %>
		<% percentage = ((@themes_histogram[theme]  / @total_responses.to_f) * 100).to_i %>
		
		<li class="<%= active %>" style="font-size: <%= font_size %>px;"><%= link_to theme, survey_responses_path(theme: theme) %> (<%= percentage < 1 ? "<1" : percentage %>%)</li>
	<% end %>
</ul>

<h2>tmi-graph query:</h2>
<p class="code">
	<a href="#query" id="copy-to-clipboard" onclick="copyToClipboard('copy-to-clipboard')"><%= @response.graph_query %></a>
</p>

<%= form_with model: @response do |f| %>
	<table>
		<thead>
			<tr>
				<th>Survey Question</th>
				<th>Response</th>
				<th>Tags</th>
			</tr>
		</thead>
		<tbody>
			<% counter = 0 %>
			<% Question::QUESTIONS.keys.map{|k| Question.from(k) }.each do |question| %>
				<% alt = counter % 2 == 1 ? "" : "alt" %>
				<% counter += 1 %>
				<tr class="<%= alt %>">
					<td class="label"><%= link_to question.humanize, question_path(question.key), class: "jump-link" %></td>
					<td	class="response"><%= @response.read_attribute(question.key) %></td>
					<td class="form-entry">
						<% if @response.respond_to?(question.key) && @response.read_attribute(question.key).present?  %>
							<%= f.text_area question.tags_field, value: @response.read_attribute(question.tags_field).try(:sort).try(:join, ', '), multiple: true %>
							<%= f.submit "Save", class: "small" %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<script language="javascript">
	function copyToClipboard(elementId) {
		var element = document.getElementById(elementId);
		var textarea = document.createElement('textarea');
		textarea.value = element.textContent;
		document.body.appendChild(textarea);
		textarea.select();
		document.execCommand('copy');
		document.body.removeChild(textarea);
	}
</script>
