<%- title "#{@section_name} Codebook Categories" %>

<h1>Explore categories for "<%= @section_name %>".</h1>

<h2>Curated Categories:</h2>
<div class="tag-collection">
  <% @categories.each do |category| %>
    <%= link_to category_path(category, params: { context: @context}) do %>
      <div class="tag zoom-link-light category" id="category-<%= category.id %>" data-category="<%= category.id %>"><%= category.name %></div>
    <% end %>
  <% end %>
  <%= link_to new_category_path(context: @context_key) do %>
    <div class="tag-button">New Category</div>
  <% end %>
</div>

<h2>Suggested Categories:</h2>
<% if @enqueued_at %>
  <p>Category suggestions were requested at <%= @enqueued_at %>. Please allow up to 2 minutes for the process to complete. You can reload the page to monitor progress.</p>
<% else %>
  <%= button_to "Get Suggestions", codebook_enqueue_categories_path(@context, params: { enqueued: true }, method: :put ) %>
<% end %>

<%= render partial: "/shared/filtering" %>
