<%- title "New Categpory" %>

<h1>Add a Category</h1>

<%= form_with model: @category, url: question_categories_path(question_id: @question.id) do |f| %>
  <fieldset>
  <%= label :name, "Name" %>
  <%= f.text_field :name %>
  </fieldset>
  <fieldset>
  <%= label :description, "Description" %>
  <%= f.text_area :description  %>
  </fieldset>
  <%= f.hidden_field :context %>
  <%= f.submit "Create" %>
<% end %>
