<%- title "Categories: #{@category.name}" %>

<h1>Category: "<%= @category.name %>"</h1>
<ul class="breadcrumbs">
  <li><a href="/">Home</a> /</li>
  <li><%= link_to "Categories", contexts_path %> /</li>
  <li><%= @category.name %></li>
</ul>

<% if @previous_category_id %>
  <%= link_to "<", context_category_path(context_id: @context.id, id: @previous_category_id), class: "flip", id: "flip-left" %>
<% end %>
<% if @next_category_id %>
  <%= link_to ">", context_category_path(context_id: @context. id, id: @next_category_id), class: "flip", id: "flip-right" %>
<% end %>

<%= render partial: "form", locals: { category: @category, context: @context, success: nil, update_kind: nil } %>

<% if @category.id.present? %>
  <h2>Codes</h2>
  <p>Codes associated with this category are are highlighted in black below. Click to add or remove a code from this category. Changes are saved automatically.</p>

  <div class="tag-collection">
    <% @codes.each do |code| %>
      <% is_selected = @category.codes.include? code %>
      <a onclick="updateAssociatedCodes('<%= code.id %>'); return false">
        <div class="tag codes <%= is_selected ? 'active' : '' %>" id="<%= code.id %>" data-code="<%= code.id %>">
          <%= code.name %>
        </div>
      </a>
    <% end %>
  </div>
<% end %>

<% if @category.id.present? %>
  <h2>Danger Zone</h2>
  <%= button_to "Delete This Category", context_category_path(context_id: @context.id, category_id: @category.id), form: { data: { turbo_confirm: "Are you sure you want to delete this Category? This action cannot be undone." } }, method: :delete %>
<% end %>

<%= render partial: "/shared/filtering" %>

<script language="javascript">

  function updateAssociatedCodes(codeID) {
    const codeElement = document.getElementById(codeID);
    if (Array.from(codeElement.classList).includes("active")) {
      codeElement.classList.remove("active")
    } else {
      codeElement.classList.add("active")
    }
    const activeCodes = Array.from(document.querySelectorAll(".codes.active"));
    codeIDs = activeCodes.map((element) => element.getAttribute('data-code'));
    document.getElementById("field-codes").value = codeIDs;
    submitButton = document.getElementById("button-category");
    submitButton.click();
  }

</script>
