<!DOCTYPE html>
<html>
  <head>
    <title>TMIWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/header" %>
    <div id="veil">
      <section>
        <%= yield %>
      </section>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
