<!DOCTYPE html>
<html>
  <head>
    <title>TMI-Web <%= content_for?(:title) ? "| #{content_for(:title)}" : "" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= favicon_link_tag 'favico/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'favico/favicon-32x32.png', rel: 'icon', type: 'image/png' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= turbo_include_tags %>
  </head>

  <body>
    <%= render "shared/header" %>
    <div id="veil">
      <section>
        <%= yield %>
      </section>
      <%= render "shared/footer" %>
    </div>

    <script language="javascript">
      function copyToClipboard(elementId) {
        var element = document.getElementById(elementId);
        var textarea = document.createElement('textarea');
        var tooltip = document.getElementById('confirmation');

        textarea.value = element.textContent;
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand('copy');
        document.body.removeChild(textarea);

        tooltip.classList.add("hidden");
        tooltip.classList.remove("appear-disappear");

        setTimeout(function() { tooltip.classList.remove("hidden"); }, 200);

        tooltip.classList.add("appear-disappear");
      };

      function toggleCodeMode(elementId) {
        var cloud = document.getElementById("code-cloud-" + elementId);
        var entry = document.getElementById("code-entry-" + elementId);
        entry.classList.remove("hidden");
        cloud.classList.add("hidden");
      };
    </script>

  </body>
</html>
